<%- include("includes/head") %>


  <div class="container">
    <div class="row">
      <div class="col-ls-2"></div>
      <div class="col-ls-8">

        <h1 class="display-1 text-center my-5">404</h1>
        <p class="text-center lead">Página não encontrada</p>

      </div>
      <div class="col-ls-2"></div>
    </div>
  </div>


  <%- include("includes/footer") %>